---
import ThemeSwitcher from '../utils/ThemeSwitcher.astro'
import { Image } from 'astro:assets'
import logoF from '../../assets/logo-f.png'
import logo from '../../assets/logo.png'

const width = 60
const height = 60
---

<div class="m-0">
  <div class="navbar flex justify-between px-8 bg-base-300 shadow-lg mx-auto my-2 w-full max-w-[98%] rounded-md border border-base-500 z-30">
    <a href="/" class="btn btn-soft btn-secondary text-3xl py-1 h-auto">
      <div class="logo-container swap-rotate">
        <Image 
          src={logoF}
          class="logo"
          alt="logo claro" 
          width={width} 
          height={height}
          id="light-logo"
        />
        <Image 
          src={logo}
          class="logo"
          alt="logo escuro" 
          width={width} 
          height={height}
          id="dark-logo"
        />
      </div>
      <div class="logo__name">
        <span class="blue night">Utility</span><span class="orange night">Hub</span>
      </div>
    </a>
    <ThemeSwitcher />
  </div>
</div>

<script>
  // Observa mudanças no checkbox do ThemeSwitcher
  const themeController = document.getElementById('theme-controller');
  const lightLogo = document.getElementById('light-logo');
  const darkLogo = document.getElementById('dark-logo');
  const blue = document.querySelector('.blue');
  const orange = document.querySelector('.orange');

  function updateLogos() {
    const isChecked = themeController ? (themeController as HTMLInputElement).checked : false;
    if (lightLogo) {
      lightLogo.style.display = isChecked ? 'none' : 'block';
      blue?.classList.toggle('night', !isChecked);
      orange?.classList.toggle('night', !isChecked);
    }
    if (darkLogo) {
      darkLogo.style.display = isChecked ? 'block' : 'none';
      
    }
  }

  if (themeController) {
    themeController.addEventListener('change', updateLogos);
    // Configuração inicial
    updateLogos();
  }
</script>

<style>
  .logo-container {
    position: relative;
    width: 70px;
    height: 70px;
    display: flex;
  }

  .logo {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
  }
</style>
